/*
    FILE:       bclc.css
    AUTHOR:     mmiddleton
    DATE:       14 MAY 2019

    DESCRIPTION:
    This is the custom styling for the BCLC website. The classes and elements in this stylesheet expand on W3's default CSS file. 
*/

/* -- BEGIN W3 CODE (Startup template, formerly in-line code) --*/
body, html { height: 100%; line-height: 1.8; }

/* Full height image header */
.bgimg-1 { background-position: center;  background-size: cover;  background-image: url("../img/landing.jpg"); min-height: 100%; }
.w3-bar .w3-button { padding: 16px; }
/*  -- END OF W3 CODE -- */



/* Override the W3 code: */
.w3-card img { width: 100%; }
.w3-sidebar div { position: absolute; left: 200px; right: 0; top: 0; bottom: 0; z-index: 100;}


/* ID's that get toggled/animated with scrolling in bclc.js */
#hero { height: 10vh; width: auto !important; background-color: transparent;}
#club-name { display: none; float: left; padding: 2vh 1vh; }
#bclc-navbar { transition: opacity .5s, background-color .5s; }


/* The banner is used under images and in conjunction with the themes (eg. 'youth') under images in w3-card items. The themes are also used to set colors for other HTML elements for accentuation.  */
.bclc-banner { position: relative; width: 66%; top: -24px; left: -16px; padding: 1em; margin: 0; color: white; font-weight: bold; -webkit-clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%); clip-path: polygon(0%, 0%, 100%, 0%, 90%, 100%, 0%, 100%); }
.bclc-youth { background: #fbc120; }
.bclc-diabetes { background: #48a3ff; }
.bclc-vision { background: #7b3888; }
.bclc-environment { background: #a1cf64; }
.bclc-hunger { background: #fb893c; }
